:root {
  /* Layout */
  --page-padding: 4.2%;
  --section-max-width: 74.5rem;

  /* Colors */
  --colors-neutral-900: #163a34;
  --colors-neutral-800: #395852;
  --colors-neutral-400: #d0dcd9;
  --colors-neutral-300: #e0e6e3;
  --colors-neutral-200: #e9ede8;
  --colors-neutral-100: #f6f5f1;

  --colors-neutral-0: #ffffff;
  --colors-orange-500: #fe9f6b;
  --colors-teal-500: #49ac9b;

  --primary-color: var(--colors-neutral-900);
  --accent-color: var(--colors-orange-500);

  /* Text Colors */
  --header-text-color: var(--primary-color);
  --header-text-color-light: var(--colors-neutral-0);
  --body-text-color: var(--colors-neutral-800);
  --body-text-color-light: var(--colors-neutral-0);

  /* Shadows */
  --card-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

/* ******************* */
/*        RESETS       */
/* ******************* */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  line-height: 1.5;
  font-family:
    "Nunito",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    system-ui,
    sans-serif;

  background-color: var(--colors-neutral-100);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
picture,
video {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

/* ******************* */
/*      UTILITIES      */
/* ******************* */
.container {
  max-width: var(--section-max-width);
  margin: 0 auto;
  padding: 0 var(--page-padding);
}

@media only screen and (min-width: 1300px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.card {
  width: 100%;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: var(--card-shadow);
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
}

/* ******************* */
/*      COMPONENTS     */
/* ******************* */

.btn--solid {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--body-text-color-light);
  padding: 0.6em 0.8em; /* 12px 16px (when font size is 20px)*/
  border-radius: 0.75rem;
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  line-height: 1.4em;
  letter-spacing: -0.5px;
}

.btn--solid:hover {
  opacity: 0.9;
}

/* ******************* */
/*        FONTS        */
/* ******************* */
/* nunito-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/nunito-v31-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/nunito-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/nunito-v31-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/nunito-sans-v18-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/nunito-sans-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/nunito-sans-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ******************* */
/*      TYPOGRAPHY     */
/* ******************* */
.text-preset-1 {
  font-size: clamp(3.25rem, 2.8099rem + 1.8779vw, 4.5rem); /*52px - 72px*/
  font-weight: 800; /* extra bold*/
  line-height: 1.1em;
  letter-spacing: -2px;
}

.text-preset-2 {
  font-size: clamp(2.5rem, 2.0229rem + 2.0356vw, 3rem); /* 40px - 48px */
  font-weight: 800; /* extra bold*/
  line-height: 1.2em;
  letter-spacing: -2px;
}

.text-preset-3 {
  font-size: 2rem; /* 32px */
  font-weight: 700; /* bold */
  line-height: 1.3em;
  letter-spacing: -1px;
}

.text-preset-6 {
  font-family:
    "Nunito Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    system-ui,
    sans-serif;
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.4px;
}

.text-preset-9 {
  font-family:
    "Nunito Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    system-ui,
    sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.3px;
}
/* ******************* */
/*    GLOBAL STYLING   */
/* ******************* */

footer {
  padding: 0 var(--page-padding);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-text-color);
}

p,
a {
  color: var(--body-text-color);
}

/* ******************* */
/*       HEADER        */
/* ******************* */
.header__menu__link {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: -0.3px;
}

.header__container {
  padding: 1rem var(--page-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__logo img {
  width: auto;
  height: 32px;
}
/* ******************* */
/*     MOBILE MENU     */
/* ******************* */
/* max-width media query for mobile menu so styling ONLY applies to mobile menu
   this allows changes to mobile menu styling without impacting bigger screens menu styling
*/
@media only screen and (max-width: 1023.5px) {
  .header__hamburger {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: auto;
    background-color: var(--colors-neutral-300);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }

  .header__hamburger__box {
    width: 18px;
    height: 16px;
    position: relative;
    flex-shrink: 0;
  }

  .header__hamburger__line {
    width: 18px;
    height: 2px;
    background-color: var(--primary-color);
    border-radius: 2px;
    transition:
      transform 0.3s ease,
      top 0.3s ease;
    display: block;
    position: absolute;
  }

  /* Hamburger Inactive State */

  .header__hamburger__line:nth-child(1) {
    top: 0;
  }

  .header__hamburger__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .header__hamburger__line:nth-child(3) {
    bottom: 0;
  }

  /* Hamburger Active State */
  .header__nav.active .header__hamburger__line:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }

  .header__nav.active .header__hamburger__line:nth-child(2) {
    transform: scale(0);
  }

  .header__nav.active .header__hamburger__line:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }

  /* Mobile Menu Inactive State */

  .menu__wrapper {
    height: 100vh;
    background-color: #ffffff;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 2;
    overflow: hidden;
    transform: scaleX(0);
    transition:
      transform 0.4s,
      opacity 0.3s;
    transform-origin: top right;
    padding: 2rem;
  }

  .header__nav.active::before {
    /* black blurred overlay */
    content: "";
    width: 0%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    transition:
      width 0.5s,
      opacity 0.3s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  /* Mobile Menu Active State */
  .header__nav.active .menu__wrapper {
    opacity: 1;
    transform: scaleX(1);
    transition-delay: 0.2s;
  }

  .header__nav.active::before {
    width: 100%;
    opacity: 1;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: scroll;
  }

  .header__btn {
    display: none;
  }
}

/* ******************* */
/*    HEADER-TABLET   */
/* ******************* */
@media only screen and (min-width: 48rem) {
  .header__logo img {
    height: 40px;
  }
}

/* ******************* */
/*    HEADER-DESKTOP   */
/* ******************* */
@media only screen and (min-width: 64rem) {
  .header__container {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .header__hamburger {
    display: none;
  }

  .header__nav {
    display: block;
  }

  .header__menu {
    display: flex;
    gap: 2.5rem;
  }

  .header__menu__link {
    position: relative;
  }

  .header__menu__link:before,
  .header__menu__link:hover:before {
    /* link underline */
    content: "";
    width: 0%;
    height: 3px;
    background: var(--accent-color);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: calc(0 / 16 * 1rem);
    right: -1.5px;
    bottom: 0;
    border-radius: 4px;
  }

  .header__menu__link.active:before,
  .header__menu__link:hover:before {
    width: 100%;
  }
}

/* ******************* */
/*         HERO        */
/* ******************* */

#hero {
  text-align: center;
  padding: 3rem 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  gap: 2.5rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
}

.hero__title .highlight-text {
  position: relative;
  display: inline-block;
  padding: clamp(4px, 1vw, 12px) clamp(8px, 2vw, 16px);
}

.hero__title .highlight-text:before {
  content: "";
  width: clamp(11.4375rem, 9.5291rem + 8.1425vw, 13.4375rem);
  height: clamp(1.4375rem, 1.0797rem + 1.5267vw, 1.8125rem);
  position: absolute;
  top: 50%;
  opacity: 0.4;
  background: var(--accent-color);
  border-radius: 0.25rem;
  z-index: -1;
}

.hero__btn {
  margin-top: 1rem;
  padding: 0.8em 1.6em; /* 16px 32px*/
}

.hero__image {
  --hero-img-radius: clamp(0.2158rem, 0.0277rem + 0.8025vw, 0.75rem);
  border-radius: var(--hero-img-radius);
  box-shadow: 0 0 0 var(--hero-img-radius) var(--colors-neutral-0);
  display: flex;
  overflow: hidden;
}

@media only screen and (min-width: 48rem) {
  .hero__title .highlight-text:before {
    width: clamp(13.4375rem, 9.5089rem + 8.1845vw, 16.875rem);
    height: clamp(1.8125rem, 1.0982rem + 1.4881vw, 2.4375rem);
  }
}

@media only screen and (min-width: 64rem) {
  .hero__container {
    align-items: center;
    gap: 5rem;
  }

  .hero__content {
    align-items: center;
    text-align: center;
    gap: 0.75rem;
  }

  .hero__text {
    max-width: 48ch;
  }
  .hero__btn {
    margin-top: 1.75rem;
  }
}

/* ******************* */
/*       SERVICES      */
/* ******************* */

#services {
  padding: clamp(2rem, -0.8626rem + 12.2137vw, 5rem) 0
    clamp(0rem, -4.771rem + 20.3562vw, 5rem);
}

.services__title {
  margin-bottom: 3rem;
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin: 0 auto;
}

.services__card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.services__card__icon {
  width: 3.75rem;
  height: 3.75rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--colors-neutral-0);
  border-radius: 0.75rem;
  border: 1px solid --colors-neutral-200;
  box-shadow: 0 1px 0 0 var(--colors-neutral-200);

  padding: 0.25rem 0.5rem;
  object-fit: contain;
  margin-bottom: 0.75rem;
}

@media only screen and (min-width: 48rem) {
  #services {
    padding-bottom: clamp(5rem, 3.8571rem + 2.381vw, 6rem);
  }
}

@media only screen and (min-width: 69rem) {
  #services {
    padding-top: 0;
  }
  .services__title {
    text-align: center;
  }
  .card__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .services__card {
    flex: 1;
  }
}
/* ******************* */
/*    Side by Side     */
/* ******************* */
#side-by-side {
  padding-top: clamp(4rem, 3.2958rem + 3.0047vw, 6rem);
}

#side-by-side .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.side-by-side__content {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.side-by-side__image {
  flex-grow: 1;
  --sbs-img-radius: clamp(0.6113rem, 0.4744rem + 0.584vw, 1rem);
  border-radius: var(--sbs-img-radius);
  overflow: hidden;
  display: flex;

  img {
    width: 100%;
  }
}

@media only screen and (min-width: 64rem) {
  #side-by-side {
    padding-bottom: clamp(4rem, 3.2958rem + 3.0047vw, 6rem);
  }

  #side-by-side .container {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
}

/* ******************* */
/*         CTA         */
/* ******************* */

#cta {
  text-align: center;
  padding: clamp(4rem, 3.0458rem + 4.0712vw, 5rem) var(--page-padding) 0;
}

.cta__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem);
  padding: clamp(3rem, 1.0916rem + 8.1425vw, 5rem)
    clamp(0rem, 1.9542rem + -4.0712vw, 1rem);
  border-radius: 1rem;
  background: var(--colors-neutral-200);
}

.cta__title {
  margin-bottom: 0.75rem;
}

#cta .btn--solid {
  font-size: 1.125rem;
  border-radius: 0.625rem;
  padding: 1rem 1.5rem;
}

@media only screen and (min-width: 48rem) {
  #cta {
    padding-top: clamp(0rem, 10.7143rem + -11.9048vw, 5rem);
  }
  .cta__container {
    padding: clamp(5rem, 3.1887rem + 3.7736vw, 6rem) 0;
    position: relative;
    background:
      url("assets/svgs/pattern-knife.svg") no-repeat top -50px right -20.78px/
        171.78px 171.78px,
      url("assets/svgs/pattern-fork.svg") no-repeat bottom -56.72px left -48px /
        179.13px 231.72px,
      var(--colors-neutral-200);
  }
}

@media only screen and (min-width: 64rem) {
  .cta__container {
    background:
      url("assets/svgs/pattern-knife.svg") no-repeat center right -70.43px/
        338.43px 338.43px,
      url("assets/svgs/pattern-fork.svg") no-repeat bottom -17.23px left -73px /
        314.67px 390.23px,
      var(--colors-neutral-200);
  }
}
/* ******************* */
/*       FOOTER        */
/* ******************* */

footer {
  padding-top: 2rem;
  padding-bottom: 1.25rem;
}

.footer__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1.5rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer__socials__link {
  display: flex;
}

.footer__socials__link img {
  width: 1.375rem;
  height: 1.375rem;
  object-fit: contain;
}

/* TABLET */
@media only screen and (min-width: 48rem) {
  footer {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
